html,
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 100%;
	overflow: scroll;
	box-sizing: border-box;
	background: rgb(252, 252, 252);
}

.image-viewer__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.image-viewer__title {
	font-size: 7rem;
	font-weight: 600;
	color: black;
	margin: 0;
	margin-top: 2rem;
	text-align: center;
}

.image-viewer__main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: auto;
}
.image-viewer__side-area {
	display: flex;
	height: 650px;
	width: 300px;
	margin: 50px;
	border-radius: 10%;
	border: 3px solid rgb(131, 131, 131);
	background-color: rgb(2, 205, 230);

	justify-content: center;
	align-items: center;
}

.image-viewer__button {
	display: inline;
	background: none;
	*border: none;
	border-radius: 50%;
}

.image-viewer__button img {
	width: 80px;
	height: 80px;
	border: 3px solid rgb(100, 99, 99);
	border-radius: 50%;
	cursor: pointer;
}

.image-viewer__button img:hover {
	width: 90px;
	height: 90px;
	/*border: 5px solid white;*/
}

.image-viewer__button:focus {
	outline: none;
}

.image-viewer__display {
	position: relative;
	border-radius: 10%;
	margin: 3rem;
	height: 800px;
	width: 1700px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;

	background-color: black;
	border: 30px solid rgb(53, 53, 53);
}

.image-viewer__display-source-wrapper {
	position: absolute;
	font-size: 12px;
	left: 50%;
	margin-right: 50%;
	transform: translate(-50%, -50%);
	min-width: 100em;
	text-align: center;
	bottom: 0;
}

#display {
	object-fit: contain;
	width: 50rem;
	height: 30rem;
	margin-bottom: 1rem;
}

#image_caption {
	font-size: 25pt;
	line-height: auto;
	height: auto;
	max-width: 100%;
	text-align: center;
	vertical-align: middle;

	margin: 40px;
	padding: 20px;
    border-left: 30px double rgb(85, 85, 85);
	border-radius: 3px;       
	box-shadow: 2px 2px 15px #ccc;
}

.disabled {
	opacity: 0.2;
}

.disabled:hover {
	border-color: transparent !important;
	cursor: not-allowed;
}

/* for display */
/* reference : https://www.designlabthemes.com/text-over-image-with-css/ */
.wp-caption {
	position: relative;
	padding: 0;
	margin: 50px;
	align-items: center;
}
.wp-caption img {
	display: block;
	max-width: 1500px;
	width: auto;
	height: 700px;

	padding: 8px;

}
.wp-caption-text {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	left: 0;
	bottom: 0;
	padding: 0.75em 1em;
	font-weight: 700;
	font-size: 25px;
	z-index: 2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.7);
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.wp-caption:hover .wp-caption-text {
	opacity: 0.9;
}
.demo{
	height: 100% ;
	width: max-content;
	vertical-align: center;
}